#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photographer {
  background-color: #FAFAFA;
  height: 300px;
  width: 100%;
  /*     width: 90%;
      margin-right: 5%;
      margin-left: 5%; */
  /*     display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row; */
  /*     display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 70px;
      margin-top: 100px; */
  /*     padding-left: 30px;
      padding-right: 30px; */
}

.photographer__data {
  align-items: start;
  margin-left: 30px;
  margin-right: 30px;
}
.photographer__data__tagline {
  color: #525252;
}

.photographer__contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photographer__contact button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.photographer__picture {
  margin-right: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section Gallery */
/* Filter */
.listbox-container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.filter-by {
  margin-right: 1rem;
  color: #000;
  display: unset;
}

#listbox,
#listbox:focus {
  background: #901C1C;
  outline: none;
  border: none;
  border-radius: 12px;
  color: #fff;
  position: relative;
}

option::after {
  border-radius: 10px;
  width: 7rem;
  line-height: 1rem;
}

.hidden {
  display: none;
}

.fa-chevron-up {
  display: none;
}

.listbox__btn {
  display: flex;
  position: unset;
  top: unset;
  left: unset;
  padding: 1rem;
}

.fa-chevron-down {
  margin-left: 0.5rem;
}

.gallery__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 0;
}
.gallery__list__data__img {
  border-radius: 5px;
  width: 450px;
  height: 385px;
  /*   width: 34rem;
  height: 28rem; */
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}
.gallery__list__data__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
}
.gallery__list__data__description__likes {
  display: flex;
  flex-direction: row;
  gap: 0 5px;
}
.gallery__list__data__description__likes i {
  margin-top: 10px;
}
.stats {
  bottom: 0px;
  right: 2%;
  position: fixed;
  padding-left: 3%;
  padding-right: 3%;
  width: 200px;
  background-color: #DB8876;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.stats__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 5px;
}
