body {
    font-family: "DM Sans", sans-serif;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.hidden {
    display: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}