@media screen and (max-width: 1320px) {
    .photographer {
        grid-template-columns: 0.9fr 1.1fr 1fr;

    }
}

@media screen and (max-width: 1235px) {
    .photographer {
        grid-template-columns: 1fr 1fr;

    }
}

@media screen and (max-width: 860px) {
    .photographer {
        grid-template-columns: 1fr;

    }

    header {
        justify-content:space-around;
        gap: 0 20px;

        h1{
            margin-right: 0;
        }

        .logo{
            margin-left: 0;
        }
    }

}

@media screen and (max-width: 565px) {

    header {
        flex-direction: column;

        h1{
            margin: 0;
        }

        .logo{
            margin-top: 45px;
        }
    }

}