@media screen and (max-width: 1250px) {
    .photographer {
        grid-template-columns: 1.2fr 0.6fr 1.2fr;
    }
}

@media screen and (max-width: 1080px) {
    .photographer {
        grid-template-columns: 1.4fr 0.6fr 1fr;
    }
}

@media screen and (max-width: 978px) {
    .photographer {
        margin-top: 25px;
        grid-template-columns: 1fr;
        order: 3 1 2;
        height: 100%;
        padding: 20px 0; 
        gap: 0;

        &__data {
            order: 2;
            align-items: center;

            h1{
                margin-right: 0;
            }
        }

        &__contact {
            order: 3;
        }

        &__picture {
            order: 1;
            margin-right: 0;
        }

    }

}

// en dessous de 609 px y a un probleme de responsive