.photographer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    border-radius: 5px;

    &__data {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        a{
            text-decoration: none;
            text-align: center;
            transition: transform 0.5s ease-in-out;
        }
        a:hover {
            transform: scale(1.1);
        }

        &__name {
            color: #D3573C;
            font-size: 36px;
        }

        &__img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit:cover;
        }

        &__location {
            color: #911C1C;
            font-size: 1.3rem;
            margin-top: -1.5rem;
        }

        &__tagline {
            font-size: 1.2rem;
            margin-top: -1.2rem;
        }

        &__price {
            font-size: 1.1rem;
            color: #757575;
            margin-top: -1rem;
        }
    }
}