.photographer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer__data {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : -200px 0;

    a{
        text-decoration: none;
        text-align: center;
    }
}

.photographer__data__name {
    color: #D3573C;
    font-size: 36px;
}

.photographer__data__img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit:cover; /* pas besoin */
}
/* corriger flex at 1072px;*/

.photographer__data__location{
    color: #911C1C;
    font-size: 1.5rem;
    margin-top: -8%;
}

.photographer__data__tagline{
    font-size: 1.2rem;
    margin-top: -8%;
}

.photographer__data__price{
    font-size: 1.2rem;
    color: #757575;
    margin-top: -6%;
}